@model prop360.web.Models.RedirectViewModel

<h4>Owner Professional</h4>

<div class="row">
  @*Contain main body of page*@
  <div class="col-md-6">
    @*Contain left section of page*@
    <div class="panel panel-default">
      @*panel class adds frame around items to group related items together*@

      @*Temporarily Created 2 Professional Home. This one is for Insurance Agent, Loan Agent, Home Inspector, Pest Inspector. Should merge into one to let "Posted Properties" dynamically display.*@

      <pre> @Html.ActionLink("Pending Received Proposals", "PlaceHolder") </pre>  @*Need to define SystemSetting Action*@
      <pre> @Html.ActionLink("Accepted Received Proposals", "PlaceHolder") </pre>
      <pre> @Html.ActionLink("Sent Proposals", "PlaceHolder") </pre>
      <pre> @Html.ActionLink("Favorites", "PlaceHolder") </pre>
      <pre> @Html.ActionLink("My Profile", "PlaceHolder") </pre>
      <pre> @Html.ActionLink("Payments", "PlaceHolder") </pre>

    </div>
  </div>
</div>