@model prop360.web.Models.RegisterViewModel
@{
    ViewBag.Title = "Summary of Owner Property";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*Zen Coding*@
@*div.messages>div.message
    >  - means nested
    +  - means sibling
    lorem - is a paragraph generator
*@
@*.messages>(.message>.firstname+.lastname+.birthdate+.remark>lorem)*10*@

<div class="row"> @*Contain main body of page*@

  <div class="col-md-6"> @*Contain left section of page*@
    <div class="panel panel-default">
    @*panel class adds frame around items to group related items together*@
      <div class="panel-body">
        <div class="form-group">
          @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" }) @*????????????How to change v-align??*@
          <div class="col-md-9">
              @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
          </div>
        </div>
        <div class="form-group">
          @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
          <div class="col-md-9">
              @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-md-6"> @*Contain right section of page*@
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
          <div class="col-md-9">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
          </div>
        </div>
        <div class="form-group">
          @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
          <div class="col-md-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
          </div>
        </div>
      </div>
    </div>
  </div>


</div>